<%- include("../partials/header") %>

<span>  
<h2>
<%= skill.name %>
<form action="/skills/<%= skill.id %>?_method=DELETE"
    class="delete-form" method="POST">
    <button type="submit">X</button>
    </form>
</h2>
</span> 
<p>Click X button to delete this skill</p>

<h3>My skill level is 
    <%= skill.level %>
</h3>
<h3>My experience : 
    <%= skill.experience %>
</h3>
<a href="/skills/edit/<%- skill.id %>">Edit this skill</a>
<%- include("../partials/footer") %>